In [1]:
%run -i 'src/SPV.py'
from src.data_functions import *
from src.solution_algorithms import *

In [2]:
df = pd.read_csv('data/clean_2017_hourly_normalized.csv')
df.head()

   dataid            localhour  gen       use  pv_system_size  gen_per_kW
0      26  2017-01-01 00:00:00  0.0  1.788817             6.0         0.0
1      26  2017-01-01 01:00:00  0.0  1.223917             6.0         0.0
2      26  2017-01-01 02:00:00  0.0  0.668367             6.0         0.0
3      26  2017-01-01 03:00:00  0.0  0.478667             6.0         0.0
4      26  2017-01-01 04:00:00  0.0  0.416283             6.0         0.0

In [3]:
dataids = obtain_dataid_2017(df)
dataids_array = np.asarray(dataids)
validdata = len(dataids)
T = len(df[df.dataid==26].gen.values)

In [4]:
gen_kw = f_gen_per_kw(df)
load_kw = f_load_kw(df)

1 m$^2$ is 1550 in$^2$

Typical size of solar panel: is 65 in for 39 in = 2535 in$^2$ = 1.6354 m$^2$.

The rated power of a solar panel is typically between 250 to 350W.

To convert we use: gen_per_kw by 0.3 / 1.6354 to get gen_per_m$^2$.

In [5]:
gen_per_m2 = gen_kw*0.3/1.6354

In [6]:
#Investment per m2 is 512.2 $/m2.
#Using an anualized cost with discount rate r=5%, we obtain
CostPVperM2 = 512.2
r = 0.05
years = 20
annuity = CostPVperM2*r/(1-(1+r)**(-years)) #Obtain Annuity 
pi_s = annuity/T #Obtain cost per time step
print('Cost of PV per time step: ' + str(pi_s))

Cost of PV per time step: 0.004695025492240356

In [7]:
firms = validdata #Number of firms
gamma = 0.85 #Factor of NM price
pi_r = 0.18   #Retail Price at 18 cents per kWh.
pi_nm = gamma*pi_r  #Net Metering Price
a_cap_firms = f_cap_firms(gen_per_m2, load_kw) #Cap for firms to not be net producers
a_max_firms = a_cap_firms

In [8]:
investment_standalone = solve_standalone(gen_per_m2, load_kw, dataids, a_max_firms, pi_s, pi_r, pi_nm)

Solving firm 194 (of 194) with dataid 100267

In [9]:
print('\n')
print('Investment decisions:')
print(investment_standalone) #Print investment decisions
print('\n')
print('Percentage of investment per firm (with respect to max_cap)')
print(1-(a_max_firms - investment_standalone)/a_max_firms) #Print percentage of investment of available max cap
print('\n Total Investment of PV in standalone case is '+ str(sum(investment_standalone)) + ' in m2 \n')

Investment decisions:
[ 0.          0.          0.          0.          0.         19.70738606
 61.86978323  0.          0.          0.          0.          1.7283147
  0.          0.          0.         24.45501998  0.         59.86670663
  0.          4.03594149  0.          1.54512289  2.14550516  0.
  0.          3.73349541 49.01041927 22.01660325  0.         10.98888394
  0.          0.          0.          0.          0.         10.83455298
 34.7362296   0.          4.18910604  0.          7.5175913  19.11353186
  0.          2.07246604  0.         21.83347856  2.77866639  0.
 12.71965854 15.75077687 10.46275701  8.73833943  7.70548716  0.
 11.38585394 30.97976477  0.          0.          0.          0.
  0.          1.24104627  0.         12.72706689  0.          0.
 35.96039878  0.          0.          6.83864602  0.          0.
  0.          0.          2.27465711  7.33982538  0.          0.
  0.          0.          0.          0.          0.          7.82713635
  4.81526075  2.21280309 15.85358947 29.92514445  0.         54.25912687
 43.05897057  0.          0.          0.          0.         24.2710683
  0.         17.38098783 27.65819898  0.          0.          0.
  0.          0.          0.          0.          0.          3.24568964
  0.          0.          1.9231043  14.58615038 22.32727722  0.
  0.          0.         41.57685725  0.          0.          0.
  0.         25.64647193 21.79085367  0.          0.          9.12237541
  0.          0.          0.          0.         19.94090625  0.
  0.         20.84254552  0.          0.         11.73447422  0.
  0.          6.32221483  0.         12.32848323  0.         33.45290515
 98.49014399 20.1887119  81.41851159  0.          0.          0.
  0.          0.          0.          0.          0.          0.
 52.14352045  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.         35.19605529
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          6.9822874   0.          0.
  0.          0.         25.67606172  0.          0.          0.
  0.          0.          0.          0.          6.92181227  0.
  0.          0.        ]


Percentage of investment per firm (with respect to max_cap)
[0.         0.         0.         0.         0.         0.17635271
 0.8496994  0.         0.         0.         0.         0.0260521
 0.         0.         0.         0.5751503  0.         1.
 0.         0.1242485  0.         0.03807615 0.06412826 0.
 0.         0.14428858 1.         0.36673347 0.         0.11823647
 0.         0.         0.         0.         0.         0.23647295
 0.90380762 0.         0.05210421 0.         0.26452906 0.45891784
 0.         0.06412826 0.         0.34669339 0.10420842 0.
 0.29859719 0.44288577 0.16432866 0.13827655 0.17635271 0.
 0.25651303 0.7995992  0.         0.         0.         0.
 0.         0.02204409 0.         0.25250501 0.         0.
 1.         0.         0.         0.25450902 0.         0.
 0.         0.         0.04008016 0.17034068 0.         0.
 0.         0.         0.         0.         0.         0.24649299
 0.08216433 0.07815631 0.28857715 0.82164329 0.         1.
 0.43887776 0.         0.         0.         0.         0.29458918
 0.         0.14028056 0.44689379 0.         0.         0.
 0.         0.         0.         0.         0.         0.12024048
 0.         0.         0.09418838 0.33266533 0.52304609 0.
 0.         0.         0.57715431 0.         0.         0.
 0.         0.58917836 0.54709419 0.         0.         0.29859719
 0.         0.         0.         0.         0.46292585 0.
 0.         0.54509018 0.         0.         0.3987976  0.
 0.         0.15831663 0.         0.24448898 0.         1.
 1.         0.20240481 0.72144289 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.50901804 0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.51703407
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.13226453 0.         0.
 0.         0.         0.22244489 0.         0.         0.
 0.         0.         0.         0.         0.11222445 0.
 0.         0.        ]

 Total Investment of PV in standalone case is 1327.4227832439708 in m2

In [10]:
soluc_sharing = solve_sharing_collective(gen_per_m2, load_kw, dataids_array, a_max_firms, pi_s, pi_r)

Iteration: 1
firm removed from S: 9 with dataid 499
Set of firms that invest:
[148, 186, 153, 187, 146, 97, 182, 173, 144, 5, 156, 123, 90, 145, 57, 185, 29, 65, 81, 180, 95, 6, 92, 160, 164, 38, 116, 178, 24, 155, 165, 167, 172, 59, 70, 17, 31, 8, 170, 128, 45, 89, 64, 80, 98, 105, 11, 27, 50, 23, 179, 67, 51, 190, 30, 115, 91, 88, 104, 86, 114, 1, 84, 26, 10, 177, 74, 77, 78, 106, 129, 61, 7, 163, 63, 58, 141, 103, 162, 93, 188, 150, 134, 158, 154, 53, 13, 135, 157, 28, 0, 121, 79, 42, 118, 15]
Set of firms that do not invest:
[35, 54, 183, 37, 112, 130, 111, 137, 3, 124, 75, 48, 113, 52, 119, 16, 41, 102, 159, 55, 117, 36, 122, 66, 72, 94, 100, 133, 12, 140, 82, 151, 139, 191, 71, 87, 44, 14, 120, 21, 175, 143, 2, 132, 142, 193, 138, 39, 49, 181, 20, 99, 149, 108, 166, 126, 192, 22, 4, 161, 176, 174, 19, 83, 43, 125, 136, 33, 76, 68, 47, 40, 69, 184, 85, 34, 127, 107, 25, 46, 73, 60, 147, 189, 169, 152, 18, 101, 62, 32, 110, 131, 96, 168, 171, 109, 56, 9]
Number of times doing the same change: 0


Iteration: 2
firm removed from S: 91 with dataid 6348
Number of times doing the same change: 0


Iteration: 3
firm removed from S: 88 with dataid 6139
Number of times doing the same change: 0


Iteration: 4
firm removed from S: 160 with dataid 100088
Number of times doing the same change: 0


Iteration: 5
firm removed from S: 105 with dataid 7560
Number of times doing the same change: 0


Iteration: 6
firm removed from S: 80 with dataid 5749
Number of times doing the same change: 0


Iteration: 7
firm removed from S: 92 with dataid 6412
Number of times doing the same change: 0


Iteration: 8
firm removed from S: 150 with dataid 9939
Number of times doing the same change: 0


Iteration: 9
firm removed from S: 67 with dataid 5035
Number of times doing the same change: 0


Iteration: 10
firm removed from S: 77 with dataid 5615
Number of times doing the same change: 0


Iteration: 11
firm removed from S: 8 with dataid 379
Number of times doing the same change: 0


Iteration: 12
firm removed from S: 53 with dataid 3736
Number of times doing the same change: 0


Iteration: 13
firm removed from S: 93 with dataid 6423
Number of times doing the same change: 0


Iteration: 14
firm removed from S: 57 with dataid 3953
Number of times doing the same change: 0


Iteration: 15
firm removed from S: 23 with dataid 1714
Number of times doing the same change: 0


Iteration: 16
firm removed from S: 1 with dataid 77
Number of times doing the same change: 0


Iteration: 17
firm removed from S: 134 with dataid 8857
Number of times doing the same change: 0


Iteration: 18
firm removed from S: 10 with dataid 545
Number of times doing the same change: 0


Iteration: 19
firm removed from S: 162 with dataid 100092
Number of times doing the same change: 0


Iteration: 20
firm removed from S: 187 with dataid 100241
Number of times doing the same change: 0


Iteration: 21
firm removed from S: 78 with dataid 5658
Number of times doing the same change: 0


Iteration: 22
firm removed from S: 104 with dataid 7541
Number of times doing the same change: 0


Iteration: 23
firm removed from S: 173 with dataid 100178
Number of times doing the same change: 0


Iteration: 24
firm removed from S: 118 with dataid 7989
Number of times doing the same change: 0


Iteration: 25
firm removed from S: 163 with dataid 100094
Number of times doing the same change: 0


Iteration: 26
firm removed from S: 129 with dataid 8467
Number of times doing the same change: 0


Iteration: 27
firm removed from S: 106 with dataid 7627
Number of times doing the same change: 0


Iteration: 28
firm removed from S: 7 with dataid 370
Number of times doing the same change: 0


Iteration: 29
firm removed from S: 64 with dataid 4514
Number of times doing the same change: 0


Iteration: 30
firm removed from S: 170 with dataid 100153
Number of times doing the same change: 0


Iteration: 31
firm removed from S: 13 with dataid 668
Number of times doing the same change: 0


Iteration: 32
firm removed from S: 65 with dataid 4526
Number of times doing the same change: 0


Iteration: 33
firm removed from S: 103 with dataid 7504
Number of times doing the same change: 0


Iteration: 34
firm removed from S: 24 with dataid 1718
Number of times doing the same change: 0


Iteration: 35
firm removed from S: 185 with dataid 100226
Number of times doing the same change: 0


Iteration: 36
firm removed from S: 135 with dataid 8967
Number of times doing the same change: 0


Iteration: 37
firm removed from S: 123 with dataid 8197
Number of times doing the same change: 0


Iteration: 38
firm removed from S: 178 with dataid 100212
Number of times doing the same change: 0


Iteration: 39
firm removed from S: 128 with dataid 8419
Number of times doing the same change: 0


Iteration: 40
firm removed from S: 180 with dataid 100214
Number of times doing the same change: 0


Iteration: 41
firm removed from S: 59 with dataid 4147
Number of times doing the same change: 0


Iteration: 42
firm removed from S: 42 with dataid 3036
Number of times doing the same change: 0


Iteration: 43
firm removed from S: 179 with dataid 100213
Number of times doing the same change: 0


Iteration: 44
firm removed from S: 31 with dataid 2129
Number of times doing the same change: 0


Iteration: 45
firm removed from S: 30 with dataid 2072
Number of times doing the same change: 0


Iteration: 46
firm removed from S: 153 with dataid 100063
Number of times doing the same change: 0


Iteration: 47
firm removed from S: 186 with dataid 100238
Number of times doing the same change: 0


Iteration: 48
firm removed from S: 155 with dataid 100066
Number of times doing the same change: 0


Iteration: 49
firm removed from S: 70 with dataid 5246
Number of times doing the same change: 0


Iteration: 50
firm removed from S: 0 with dataid 26
Number of times doing the same change: 0


Iteration: 51
firm removed from S: 114 with dataid 7900
Number of times doing the same change: 0


Iteration: 52
firm removed from S: 157 with dataid 100084
Number of times doing the same change: 0


Iteration: 53
firm removed from S: 115 with dataid 7940
Number of times doing the same change: 0


Iteration: 54
firm removed from S: 38 with dataid 2925
Number of times doing the same change: 0


Iteration: 55
firm removed from S: 81 with dataid 5784
Number of times doing the same change: 0


Iteration: 56
firm removed from S: 58 with dataid 3967
Number of times doing the same change: 0


Iteration: 57
firm removed from S: 79 with dataid 5738
Number of times doing the same change: 0


Iteration: 58
firm removed from S: 74 with dataid 5448
Number of times doing the same change: 0


Iteration: 59
firm removed from S: 28 with dataid 1879
Number of times doing the same change: 0


Iteration: 60
firm removed from S: 51 with dataid 3719
Number of times doing the same change: 0


Iteration: 61
firm removed from S: 50 with dataid 3649
Number of times doing the same change: 0


Iteration: 62
firm removed from S: 154 with dataid 100064
Number of times doing the same change: 0


Iteration: 63
firm removed from S: 97 with dataid 7016
Number of times doing the same change: 0


Iteration: 64
firm removed from S: 164 with dataid 100102
Number of times doing the same change: 0


Iteration: 65
firm removed from S: 61 with dataid 4336
firm removed from T: 66 with dataid 4830
Number of times doing the same change: 0


Iteration: 66
firm removed from S: 84 with dataid 5892
Number of times doing the same change: 0


Iteration: 67
firm removed from S: 165 with dataid 100108
Number of times doing the same change: 0


Iteration: 68
firm removed from S: 5 with dataid 252
firm removed from T: 143 with dataid 9341
Number of times doing the same change: 0


Iteration: 69
firm removed from S: 29 with dataid 2018
Number of times doing the same change: 0


Iteration: 70
firm removed from S: 188 with dataid 100244
Number of times doing the same change: 0


Iteration: 71
firm removed from S: 158 with dataid 100085
Number of times doing the same change: 0


Iteration: 72
firm removed from S: 172 with dataid 100177
Number of times doing the same change: 0


Iteration: 73
firm removed from S: 141 with dataid 9134
firm removed from T: 87 with dataid 6063
Number of times doing the same change: 0


Iteration: 74
firm removed from S: 148 with dataid 9935
Number of times doing the same change: 0


Iteration: 75
firm removed from S: 190 with dataid 100252
Number of times doing the same change: 0


Iteration: 76
firm removed from S: 145 with dataid 9737
firm removed from T: 55 with dataid 3849
Number of times doing the same change: 0


Iteration: 77
firm removed from S: 11 with dataid 547
firm removed from T: 36 with dataid 2638
Number of times doing the same change: 0


Iteration: 78
firm removed from S: 63 with dataid 4447
firm removed from T: 133 with dataid 8829
Number of times doing the same change: 0


Iteration: 79
firm removed from S: 90 with dataid 6266
firm removed from T: 112 with dataid 7850
Number of times doing the same change: 0


Iteration: 80
firm removed from T: 122 with dataid 8086
Number of times doing the same change: 0


Iteration: 81
firm removed from S: 156 with dataid 100069
firm removed from T: 130 with dataid 8626
Number of times doing the same change: 0


Iteration: 82
firm removed from T: 156 with dataid 100069
Number of times doing the same change: 0


Iteration: 83
firm removed from S: 156 with dataid 100069
Number of times doing the same change: 1


Iteration: 84
firm removed from T: 156 with dataid 100069
Number of times doing the same change: 2


Iteration: 85
firm removed from S: 156 with dataid 100069
Number of times doing the same change: 3


Iteration: 86
firm removed from T: 156 with dataid 100069
Number of times doing the same change: 4


Iteration: 87
firm removed from S: 156 with dataid 100069
Number of times doing the same change: 5

Total investment of PV in sharing case is 1510.7401972001326 in m2

In [11]:
investment_sharing = firms_investment_sharing(soluc_sharing, a_max_firms, firms)

In [12]:
profit_nopv = utility_profit_no_investment(load_kw, pi_r)
profit_standalone = utility_profit_standalone(gen_per_m2, load_kw, investment_standalone, pi_r, pi_nm)
profit_sharing = utility_profit_sharing(gen_per_m2, load_kw, investment_sharing, pi_r)

Average profit per time slot without PV investment for utility is 50.538087833479416
Average profit per time slot for utility (with standalone PV investment) is 43.93869562342025
Average profit per time slot for utility (with sharing PV investment) is 42.56674389376173

In [13]:
np.sum(pi_r*load_kw)

442410.4208942788

In [75]:
df_data = df.drop(columns=['pv_system_size', 'gen'])

In [76]:
print(df_data[df_data.localhour=='2017-01-01 00:00:00'])

         dataid            localhour       use  gen_per_kW
0            26  2017-01-01 00:00:00  1.788817         0.0
8754         77  2017-01-01 00:00:00  0.551283         0.0
17508        93  2017-01-01 00:00:00  0.916167         0.0
26262       114  2017-01-01 00:00:00  0.552000         0.0
35016       171  2017-01-01 00:00:00  0.456217         0.0
43770       252  2017-01-01 00:00:00  1.218867         0.0
52524       330  2017-01-01 00:00:00  0.627533         0.0
61278       370  2017-01-01 00:00:00  0.862550         0.0
70032       379  2017-01-01 00:00:00  1.167650         0.0
78786       499  2017-01-01 00:00:00  1.040433         0.0
87540       545  2017-01-01 00:00:00  0.639683         0.0
96294       547  2017-01-01 00:00:00  0.538417         0.0
105048      585  2017-01-01 00:00:00  0.177483         0.0
113802      668  2017-01-01 00:00:00  1.298200         0.0
122556      744  2017-01-01 00:00:00  0.226833         0.0
131310      781  2017-01-01 00:00:00  0.290350         0.0
140064      890  2017-01-01 00:00:00  0.690133         0.0
148818      974  2017-01-01 00:00:00  0.781967         0.0
157572     1103  2017-01-01 00:00:00  0.251333         0.0
166326     1169  2017-01-01 00:00:00  0.545017         0.0
175080     1192  2017-01-01 00:00:00  0.430017         0.0
183834     1354  2017-01-01 00:00:00  0.222433         0.0
192588     1415  2017-01-01 00:00:00  0.196933         0.0
201342     1714  2017-01-01 00:00:00  0.495383         0.0
210096     1718  2017-01-01 00:00:00  0.800317         0.0
218850     1792  2017-01-01 00:00:00  0.866850         0.0
227604     1800  2017-01-01 00:00:00  0.754750         0.0
236358     1801  2017-01-01 00:00:00  0.793700         0.0
245112     1879  2017-01-01 00:00:00  0.957233         0.0
253866     2018  2017-01-01 00:00:00  0.825200         0.0
...         ...                  ...       ...         ...
1435656  100102  2017-01-01 00:00:00  3.933233         0.0
1444410  100108  2017-01-01 00:00:00  2.682800         0.0
1453164  100109  2017-01-01 00:00:00  0.595600         0.0
1461918  100111  2017-01-01 00:00:00  0.666933         0.0
1470672  100121  2017-01-01 00:00:00  0.604667         0.0
1479426  100135  2017-01-01 00:00:00  0.982417         0.0
1488180  100153  2017-01-01 00:00:00  1.329700         0.0
1496934  100175  2017-01-01 00:00:00  0.490000         0.0
1505688  100177  2017-01-01 00:00:00  3.615750         0.0
1514442  100178  2017-01-01 00:00:00  0.962983         0.0
1523196  100179  2017-01-01 00:00:00  0.232683         0.0
1531950  100183  2017-01-01 00:00:00  1.607117         0.0
1540704  100189  2017-01-01 00:00:00  0.372317         0.0
1549458  100207  2017-01-01 00:00:00  0.793817         0.0
1558212  100212  2017-01-01 00:00:00  0.564067         0.0
1566966  100213  2017-01-01 00:00:00  0.536817         0.0
1575720  100214  2017-01-01 00:00:00  3.036017         0.0
1584474  100220  2017-01-01 00:00:00  0.871767         0.0
1593228  100221  2017-01-01 00:00:00  4.562817         0.0
1601982  100224  2017-01-01 00:00:00  0.678900         0.0
1610736  100225  2017-01-01 00:00:00  1.115033         0.0
1619490  100226  2017-01-01 00:00:00  1.057550         0.0
1628244  100238  2017-01-01 00:00:00  1.581767         0.0
1636998  100241  2017-01-01 00:00:00  7.027633         0.0
1645752  100244  2017-01-01 00:00:00  1.047517         0.0
1654506  100251  2017-01-01 00:00:00  0.941283         0.0
1663260  100252  2017-01-01 00:00:00  1.231467         0.0
1672014  100253  2017-01-01 00:00:00  0.923983         0.0
1680768  100256  2017-01-01 00:00:00  1.862883         0.0
1689522  100267  2017-01-01 00:00:00  2.291667         0.0

[194 rows x 4 columns]

In [77]:
diff = 1000-194
T = len(gen_per_m2[:,0])
time_data = df[df.dataid==26].localhour.values
for i in range(diff):
    rand_indices = np.random.randint(194, size=2)
    print(rand_indices)
    rand_gen = (gen_kw[:,rand_indices[0]] + gen_kw[:,rand_indices[1]]  )/2
    rand_load = (load_kw[:,rand_indices[0]] + load_kw[:,rand_indices[1]] )/2
    rand_dataid = 990000 + i
    rand_dataid_aux = np.repeat(rand_dataid, T)
    data_aux = {'dataid': rand_dataid_aux, 'localhour': time_data, 'use': rand_load, 'gen_per_kW': rand_gen }
    df_aux = pd.DataFrame(data_aux)
    print(i)
    df_data = pd.concat([df_data,df_aux], sort=False)
    print(i)
    clear_output()
print(df_data[df_data.localhour=='2017-01-01 00:00:00'])

        dataid            localhour       use  gen_per_kW
0           26  2017-01-01 00:00:00  1.788817         0.0
8754        77  2017-01-01 00:00:00  0.551283         0.0
17508       93  2017-01-01 00:00:00  0.916167         0.0
26262      114  2017-01-01 00:00:00  0.552000         0.0
35016      171  2017-01-01 00:00:00  0.456217         0.0
43770      252  2017-01-01 00:00:00  1.218867         0.0
52524      330  2017-01-01 00:00:00  0.627533         0.0
61278      370  2017-01-01 00:00:00  0.862550         0.0
70032      379  2017-01-01 00:00:00  1.167650         0.0
78786      499  2017-01-01 00:00:00  1.040433         0.0
87540      545  2017-01-01 00:00:00  0.639683         0.0
96294      547  2017-01-01 00:00:00  0.538417         0.0
105048     585  2017-01-01 00:00:00  0.177483         0.0
113802     668  2017-01-01 00:00:00  1.298200         0.0
122556     744  2017-01-01 00:00:00  0.226833         0.0
131310     781  2017-01-01 00:00:00  0.290350         0.0
140064     890  2017-01-01 00:00:00  0.690133         0.0
148818     974  2017-01-01 00:00:00  0.781967         0.0
157572    1103  2017-01-01 00:00:00  0.251333         0.0
166326    1169  2017-01-01 00:00:00  0.545017         0.0
175080    1192  2017-01-01 00:00:00  0.430017         0.0
183834    1354  2017-01-01 00:00:00  0.222433         0.0
192588    1415  2017-01-01 00:00:00  0.196933         0.0
201342    1714  2017-01-01 00:00:00  0.495383         0.0
210096    1718  2017-01-01 00:00:00  0.800317         0.0
218850    1792  2017-01-01 00:00:00  0.866850         0.0
227604    1800  2017-01-01 00:00:00  0.754750         0.0
236358    1801  2017-01-01 00:00:00  0.793700         0.0
245112    1879  2017-01-01 00:00:00  0.957233         0.0
253866    2018  2017-01-01 00:00:00  0.825200         0.0
...        ...                  ...       ...         ...
0       990776  2017-01-01 00:00:00  2.428629         0.0
0       990777  2017-01-01 00:00:00  1.075250         0.0
0       990778  2017-01-01 00:00:00  0.218350         0.0
0       990779  2017-01-01 00:00:00  1.160400         0.0
0       990780  2017-01-01 00:00:00  1.501708         0.0
0       990781  2017-01-01 00:00:00  0.721258         0.0
0       990782  2017-01-01 00:00:00  0.348708         0.0
0       990783  2017-01-01 00:00:00  0.519592         0.0
0       990784  2017-01-01 00:00:00  1.160858         0.0
0       990785  2017-01-01 00:00:00  0.432417         0.0
0       990786  2017-01-01 00:00:00  1.325167         0.0
0       990787  2017-01-01 00:00:00  0.448158         0.0
0       990788  2017-01-01 00:00:00  1.518558         0.0
0       990789  2017-01-01 00:00:00  0.821275         0.0
0       990790  2017-01-01 00:00:00  0.673342         0.0
0       990791  2017-01-01 00:00:00  0.305008         0.0
0       990792  2017-01-01 00:00:00  0.794850         0.0
0       990793  2017-01-01 00:00:00  1.518008         0.0
0       990794  2017-01-01 00:00:00  0.881625         0.0
0       990795  2017-01-01 00:00:00  0.777933         0.0
0       990796  2017-01-01 00:00:00  0.681925         0.0
0       990797  2017-01-01 00:00:00  0.607992         0.0
0       990798  2017-01-01 00:00:00  0.704467         0.0
0       990799  2017-01-01 00:00:00  0.717050         0.0
0       990800  2017-01-01 00:00:00  0.649833         0.0
0       990801  2017-01-01 00:00:00  1.782842         0.0
0       990802  2017-01-01 00:00:00  1.071225         0.0
0       990803  2017-01-01 00:00:00  0.360900         0.0
0       990804  2017-01-01 00:00:00  0.214808         0.0
0       990805  2017-01-01 00:00:00  1.554350         0.0

[1000 rows x 4 columns]

In [79]:
df_data.to_csv('full_randomized_2017_hourly_normalized_v2.csv', sep=',', index=False)

In [78]:
df_data.shape

(8754000, 4)

In [63]:
i = 0
rand_indices = np.random.randint(194, size=3)
rand_gen = (gen_kw[:,rand_indices[0]] + gen_kw[:,rand_indices[1]]  + gen_kw[:,rand_indices[2]] )/3
rand_load = (load_kw[:,rand_indices[0]] + load_kw[:,rand_indices[1]] + load_kw[:,rand_indices[1]])/3
rand_dataid = 990000 + i
rand_dataid_aux = np.repeat(rand_dataid, T)
time_data = df[df.dataid==26].localhour.values
data_aux = {'dataid': rand_dataid_aux, 'localhour': time_data, 'use': rand_load, 'gen_per_kW': rand_gen }
df_aux = pd.DataFrame(data_aux)

In [41]:
df_data = pd.concat([df_data,df_aux], sort=False)
print(df_data)

      dataid            localhour       use  gen_per_kW
0         26  2017-01-01 00:00:00  1.788817    0.000000
1         26  2017-01-01 01:00:00  1.223917    0.000000
2         26  2017-01-01 02:00:00  0.668367    0.000000
3         26  2017-01-01 03:00:00  0.478667    0.000000
4         26  2017-01-01 04:00:00  0.416283    0.000000
5         26  2017-01-01 05:00:00  0.357633    0.000000
6         26  2017-01-01 06:00:00  0.383550    0.000000
7         26  2017-01-01 07:00:00  0.483333    0.005814
8         26  2017-01-01 08:00:00  0.413217    0.051969
9         26  2017-01-01 09:00:00  0.388917    0.237289
10        26  2017-01-01 10:00:00  0.357817    0.453742
11        26  2017-01-01 11:00:00  0.550117    0.495628
12        26  2017-01-01 12:00:00  0.567700    0.553214
13        26  2017-01-01 13:00:00  0.552417    0.543053
14        26  2017-01-01 14:00:00  1.209267    0.470700
15        26  2017-01-01 15:00:00  2.704533    0.342294
16        26  2017-01-01 16:00:00  1.537783    0.113106
17        26  2017-01-01 17:00:00  1.148367    0.009550
18        26  2017-01-01 18:00:00  2.067100    0.000000
19        26  2017-01-01 19:00:00  2.864650    0.000000
20        26  2017-01-01 20:00:00  2.073883    0.000000
21        26  2017-01-01 21:00:00  1.915267    0.000000
22        26  2017-01-01 22:00:00  1.807667    0.000000
23        26  2017-01-01 23:00:00  1.382750    0.000000
24        26  2017-01-02 00:00:00  1.198117    0.000000
25        26  2017-01-02 01:00:00  1.129600    0.000000
26        26  2017-01-02 02:00:00  0.467317    0.000000
27        26  2017-01-02 03:00:00  0.541500    0.000000
28        26  2017-01-02 04:00:00  0.411583    0.000000
29        26  2017-01-02 05:00:00  0.499250    0.000000
...      ...                  ...       ...         ...
8724  990000  2017-12-30 12:00:00  0.451567    0.071165
8725  990000  2017-12-30 13:00:00  0.388828    0.038148
8726  990000  2017-12-30 14:00:00  0.370289    0.014631
8727  990000  2017-12-30 15:00:00  0.473222    0.013156
8728  990000  2017-12-30 16:00:00  0.449289    0.004816
8729  990000  2017-12-30 17:00:00  0.824933    0.000000
8730  990000  2017-12-30 18:00:00  0.995383    0.000000
8731  990000  2017-12-30 19:00:00  0.753644    0.000000
8732  990000  2017-12-30 20:00:00  0.673479    0.000000
8733  990000  2017-12-30 21:00:00  0.559649    0.000000
8734  990000  2017-12-30 22:00:00  0.470656    0.000000
8735  990000  2017-12-30 23:00:00  0.411867    0.000000
8736  990000  2017-12-31 00:00:00  0.348567    0.000000
8737  990000  2017-12-31 01:00:00  0.310517    0.000000
8738  990000  2017-12-31 02:00:00  0.363294    0.000000
8739  990000  2017-12-31 03:00:00  0.284339    0.000000
8740  990000  2017-12-31 04:00:00  0.350850    0.000000
8741  990000  2017-12-31 05:00:00  0.379139    0.000000
8742  990000  2017-12-31 06:00:00  0.426541    0.000000
8743  990000  2017-12-31 07:00:00  0.741933    0.000000
8744  990000  2017-12-31 08:00:00  0.666070    0.000547
8745  990000  2017-12-31 09:00:00  0.519711    0.002976
8746  990000  2017-12-31 10:00:00  0.355114    0.007261
8747  990000  2017-12-31 11:00:00  0.613742    0.007460
8748  990000  2017-12-31 12:00:00  0.517145    0.007085
8749  990000  2017-12-31 13:00:00  0.789139    0.005856
8750  990000  2017-12-31 14:00:00  0.433600    0.005755
8751  990000  2017-12-31 15:00:00  0.496794    0.003905
8752  990000  2017-12-31 16:00:00  0.547532    0.001176
8753  990000  2017-12-31 17:00:00  0.564000    0.000000

[1707030 rows x 4 columns]

In [31]:
df_aux = pd.DataFrame(data_aux)

In [35]:
df.head()

   dataid            localhour  gen       use  pv_system_size  gen_per_kW
0      26  2017-01-01 00:00:00  0.0  1.788817             6.0         0.0
1      26  2017-01-01 01:00:00  0.0  1.223917             6.0         0.0
2      26  2017-01-01 02:00:00  0.0  0.668367             6.0         0.0
3      26  2017-01-01 03:00:00  0.0  0.478667             6.0         0.0
4      26  2017-01-01 04:00:00  0.0  0.416283             6.0         0.0