In [1]:
%run -i 'src/SPV.py'
from src.data_functions import *

In [2]:
df = pd.read_csv('data/clean_2017_hourly_normalized.csv')
df.head()

   dataid            localhour  gen       use  pv_system_size  gen_per_kW
0      26  2017-01-01 00:00:00  0.0  1.788817             6.0         0.0
1      26  2017-01-01 01:00:00  0.0  1.223917             6.0         0.0
2      26  2017-01-01 02:00:00  0.0  0.668367             6.0         0.0
3      26  2017-01-01 03:00:00  0.0  0.478667             6.0         0.0
4      26  2017-01-01 04:00:00  0.0  0.416283             6.0         0.0

In [3]:
dataids = obtain_dataid_2017(df)
dataids_array = np.asarray(dataids)
validdata = len(dataids)
T = len(df[df.dataid==26].gen.values)

In [4]:
gen_kw = f_gen_per_kw(df)
load_kw = f_load_kw(df)

1 m$^2$ is 1550 in$^2$

Typical size of solar panel: is 65 in for 39 in = 2535 in$^2$ = 1.6354 m$^2$.

The rated power of a solar panel is typically between 250 to 350W.

To convert we use: gen_per_kw by 0.3 / 1.6354 to get gen_per_m$^2$.

In [5]:
gen_per_m2 = gen_kw*0.3/1.6354

In [6]:
#Investment per m2 is 512.2 $/m2.
#Using an anualized cost with discount rate r=5%, we obtain
CostPVperM2 = 512.2
r = 0.05
years = 20
annuity = CostPVperM2*r/(1-(1+r)**(-years)) #Obtain Annuity 
pi_s = annuity/T #Obtain cost per time step
print('Cost of PV per time step: ' + str(pi_s))

Cost of PV per time step: 0.004695025492240356

In [7]:
firms = validdata #Number of firms
gamma = 0.85 #Factor of NM price
pi_r = 0.18   #Retail Price at 18 cents per kWh.
pi_nm = gamma*pi_r  #Net Metering Price
a_cap_firms = f_cap_firms(gen_per_m2, load_kw) #Cap for firms to not be net producers
a_max_firms = a_cap_firms

In [8]:
soluc = solve_standalone(gen_per_m2, load_kw, dataids, a_max_firms, pi_s, pi_r, pi_nm)

Solving firm 194 (of 194) with dataid 100267

In [9]:
print('\n')
print('Investment decisions:')
print(soluc) #Print investment decisions
print('\n')
print('Percentage of investment per firm (with respect to max_cap)')
print(1-(a_max_firms - soluc)/a_max_firms) #Print percentage of investment of available max cap
print('\n Total Investment of PV in standalone case is '+ str(sum(soluc)) + ' in m2 \n')

Investment decisions:
[ 0.          0.          0.          0.          0.         19.70738606
 61.86978323  0.          0.          0.          0.          1.7283147
  0.          0.          0.         24.45501998  0.         59.86670663
  0.          4.03594149  0.          1.54512289  2.14550516  0.
  0.          3.73349541 49.01041927 22.01660325  0.         10.98888394
  0.          0.          0.          0.          0.         10.83455298
 34.7362296   0.          4.18910604  0.          7.5175913  19.11353186
  0.          2.07246604  0.         21.83347856  2.77866639  0.
 12.71965854 15.75077687 10.46275701  8.73833943  7.70548716  0.
 11.38585394 30.97976477  0.          0.          0.          0.
  0.          1.24104627  0.         12.72706689  0.          0.
 35.96039878  0.          0.          6.83864602  0.          0.
  0.          0.          2.27465711  7.33982538  0.          0.
  0.          0.          0.          0.          0.          7.82713635
  4.81526075  2.21280309 15.85358947 29.92514445  0.         54.25912687
 43.05897057  0.          0.          0.          0.         24.2710683
  0.         17.38098783 27.65819898  0.          0.          0.
  0.          0.          0.          0.          0.          3.24568964
  0.          0.          1.9231043  14.58615038 22.32727722  0.
  0.          0.         41.57685725  0.          0.          0.
  0.         25.64647193 21.79085367  0.          0.          9.12237541
  0.          0.          0.          0.         19.94090625  0.
  0.         20.84254552  0.          0.         11.73447422  0.
  0.          6.32221483  0.         12.32848323  0.         33.45290515
 98.49014399 20.1887119  81.41851159  0.          0.          0.
  0.          0.          0.          0.          0.          0.
 52.14352045  0.          0.          0.          0.          0.
  0.          0.          0.          0.          0.         35.19605529
  0.          0.          0.          0.          0.          0.
  0.          0.          0.          6.9822874   0.          0.
  0.          0.         25.67606172  0.          0.          0.
  0.          0.          0.          0.          6.92181227  0.
  0.          0.        ]


Percentage of investment per firm (with respect to max_cap)
[0.         0.         0.         0.         0.         0.17635271
 0.8496994  0.         0.         0.         0.         0.0260521
 0.         0.         0.         0.5751503  0.         1.
 0.         0.1242485  0.         0.03807615 0.06412826 0.
 0.         0.14428858 1.         0.36673347 0.         0.11823647
 0.         0.         0.         0.         0.         0.23647295
 0.90380762 0.         0.05210421 0.         0.26452906 0.45891784
 0.         0.06412826 0.         0.34669339 0.10420842 0.
 0.29859719 0.44288577 0.16432866 0.13827655 0.17635271 0.
 0.25651303 0.7995992  0.         0.         0.         0.
 0.         0.02204409 0.         0.25250501 0.         0.
 1.         0.         0.         0.25450902 0.         0.
 0.         0.         0.04008016 0.17034068 0.         0.
 0.         0.         0.         0.         0.         0.24649299
 0.08216433 0.07815631 0.28857715 0.82164329 0.         1.
 0.43887776 0.         0.         0.         0.         0.29458918
 0.         0.14028056 0.44689379 0.         0.         0.
 0.         0.         0.         0.         0.         0.12024048
 0.         0.         0.09418838 0.33266533 0.52304609 0.
 0.         0.         0.57715431 0.         0.         0.
 0.         0.58917836 0.54709419 0.         0.         0.29859719
 0.         0.         0.         0.         0.46292585 0.
 0.         0.54509018 0.         0.         0.3987976  0.
 0.         0.15831663 0.         0.24448898 0.         1.
 1.         0.20240481 0.72144289 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.50901804 0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.51703407
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.13226453 0.         0.
 0.         0.         0.22244489 0.         0.         0.
 0.         0.         0.         0.         0.11222445 0.
 0.         0.        ]

 Total Investment of PV in standalone case is 1327.4227832439708 in m2

In [10]:
np.argsort([2,5,7,1])

array([3, 0, 1, 2])

In [11]:
soluc_sharing = solve_sharing_collective(gen_per_m2, load_kw, dataids_array, a_max_firms, pi_s, pi_r)

Iteration: 1
firm removed from S: 9 with dataid 499
Set of firms that invest:
[148, 186, 153, 187, 146, 97, 182, 173, 144, 5, 156, 123, 90, 145, 57, 185, 29, 65, 81, 180, 95, 6, 92, 160, 164, 38, 116, 178, 24, 155, 165, 167, 172, 59, 70, 17, 31, 8, 170, 128, 45, 89, 64, 80, 98, 105, 11, 27, 50, 23, 179, 67, 51, 190, 30, 115, 91, 88, 104, 86, 114, 1, 84, 26, 10, 177, 74, 77, 78, 106, 129, 61, 7, 163, 63, 58, 141, 103, 162, 93, 188, 150, 134, 158, 154, 53, 13, 135, 157, 28, 0, 121, 79, 42, 118, 15]
Set of firms that do not invest:
[35, 54, 183, 37, 112, 130, 111, 137, 3, 124, 75, 48, 113, 52, 119, 16, 41, 102, 159, 55, 117, 36, 122, 66, 72, 94, 100, 133, 12, 140, 82, 151, 139, 191, 71, 87, 44, 14, 120, 21, 175, 143, 2, 132, 142, 193, 138, 39, 49, 181, 20, 99, 149, 108, 166, 126, 192, 22, 4, 161, 176, 174, 19, 83, 43, 125, 136, 33, 76, 68, 47, 40, 69, 184, 85, 34, 127, 107, 25, 46, 73, 60, 147, 189, 169, 152, 18, 101, 62, 32, 110, 131, 96, 168, 171, 109, 56, 9]
Number of times doing the same change: 0


Iteration: 2
firm removed from S: 91 with dataid 6348
Number of times doing the same change: 0


Iteration: 3
firm removed from S: 88 with dataid 6139
Number of times doing the same change: 0


Iteration: 4
firm removed from S: 160 with dataid 100088
Number of times doing the same change: 0


Iteration: 5
firm removed from S: 105 with dataid 7560
Number of times doing the same change: 0


Iteration: 6
firm removed from S: 80 with dataid 5749
Number of times doing the same change: 0


Iteration: 7
firm removed from S: 92 with dataid 6412
Number of times doing the same change: 0


Iteration: 8
firm removed from S: 150 with dataid 9939
Number of times doing the same change: 0


Iteration: 9
firm removed from S: 67 with dataid 5035
Number of times doing the same change: 0


Iteration: 10
firm removed from S: 77 with dataid 5615
Number of times doing the same change: 0


Iteration: 11
firm removed from S: 8 with dataid 379
Number of times doing the same change: 0


Iteration: 12
firm removed from S: 53 with dataid 3736
Number of times doing the same change: 0


Iteration: 13
firm removed from S: 93 with dataid 6423
Number of times doing the same change: 0


Iteration: 14
firm removed from S: 57 with dataid 3953
Number of times doing the same change: 0


Iteration: 15
firm removed from S: 23 with dataid 1714
Number of times doing the same change: 0


Iteration: 16
firm removed from S: 1 with dataid 77
Number of times doing the same change: 0


Iteration: 17
firm removed from S: 134 with dataid 8857
Number of times doing the same change: 0


Iteration: 18
firm removed from S: 10 with dataid 545
Number of times doing the same change: 0


Iteration: 19
firm removed from S: 162 with dataid 100092
Number of times doing the same change: 0


Iteration: 20
firm removed from S: 187 with dataid 100241
Number of times doing the same change: 0


Iteration: 21
firm removed from S: 78 with dataid 5658
Number of times doing the same change: 0


Iteration: 22
firm removed from S: 104 with dataid 7541
Number of times doing the same change: 0


Iteration: 23
firm removed from S: 173 with dataid 100178
Number of times doing the same change: 0


Iteration: 24
firm removed from S: 118 with dataid 7989
Number of times doing the same change: 0


Iteration: 25
firm removed from S: 163 with dataid 100094
Number of times doing the same change: 0


Iteration: 26
firm removed from S: 129 with dataid 8467
Number of times doing the same change: 0


Iteration: 27
firm removed from S: 106 with dataid 7627
Number of times doing the same change: 0


Iteration: 28
firm removed from S: 7 with dataid 370
Number of times doing the same change: 0


Iteration: 29
firm removed from S: 64 with dataid 4514
Number of times doing the same change: 0


Iteration: 30
firm removed from S: 170 with dataid 100153
Number of times doing the same change: 0


Iteration: 31
firm removed from S: 13 with dataid 668
Number of times doing the same change: 0


Iteration: 32
firm removed from S: 65 with dataid 4526
Number of times doing the same change: 0


Iteration: 33
firm removed from S: 103 with dataid 7504
Number of times doing the same change: 0


Iteration: 34
firm removed from S: 24 with dataid 1718
Number of times doing the same change: 0


Iteration: 35
firm removed from S: 185 with dataid 100226
Number of times doing the same change: 0


Iteration: 36
firm removed from S: 135 with dataid 8967
Number of times doing the same change: 0


Iteration: 37
firm removed from S: 123 with dataid 8197
Number of times doing the same change: 0


Iteration: 38
firm removed from S: 178 with dataid 100212
Number of times doing the same change: 0


Iteration: 39
firm removed from S: 128 with dataid 8419
Number of times doing the same change: 0


Iteration: 40
firm removed from S: 180 with dataid 100214
Number of times doing the same change: 0


Iteration: 41
firm removed from S: 59 with dataid 4147
Number of times doing the same change: 0


Iteration: 42
firm removed from S: 42 with dataid 3036
Number of times doing the same change: 0


Iteration: 43
firm removed from S: 179 with dataid 100213
Number of times doing the same change: 0


Iteration: 44
firm removed from S: 31 with dataid 2129
Number of times doing the same change: 0


Iteration: 45
firm removed from S: 30 with dataid 2072
Number of times doing the same change: 0


Iteration: 46
firm removed from S: 153 with dataid 100063
Number of times doing the same change: 0


Iteration: 47
firm removed from S: 186 with dataid 100238
Number of times doing the same change: 0


Iteration: 48
firm removed from S: 155 with dataid 100066
Number of times doing the same change: 0


Iteration: 49
firm removed from S: 70 with dataid 5246
Number of times doing the same change: 0


Iteration: 50
firm removed from S: 0 with dataid 26
Number of times doing the same change: 0


Iteration: 51
firm removed from S: 114 with dataid 7900
Number of times doing the same change: 0


Iteration: 52
firm removed from S: 157 with dataid 100084
Number of times doing the same change: 0


Iteration: 53
firm removed from S: 115 with dataid 7940
Number of times doing the same change: 0


Iteration: 54
firm removed from S: 38 with dataid 2925
Number of times doing the same change: 0


Iteration: 55
firm removed from S: 81 with dataid 5784
Number of times doing the same change: 0


Iteration: 56
firm removed from S: 58 with dataid 3967
Number of times doing the same change: 0


Iteration: 57
firm removed from S: 79 with dataid 5738
Number of times doing the same change: 0


Iteration: 58
firm removed from S: 74 with dataid 5448
Number of times doing the same change: 0


Iteration: 59
firm removed from S: 28 with dataid 1879
Number of times doing the same change: 0


Iteration: 60
firm removed from S: 51 with dataid 3719
Number of times doing the same change: 0


Iteration: 61
firm removed from S: 50 with dataid 3649
Number of times doing the same change: 0


Iteration: 62
firm removed from S: 154 with dataid 100064
Number of times doing the same change: 0


Iteration: 63
firm removed from S: 97 with dataid 7016
Number of times doing the same change: 0


Iteration: 64
firm removed from S: 164 with dataid 100102
Number of times doing the same change: 0


Iteration: 65
firm removed from S: 61 with dataid 4336
firm removed from T: 66 with dataid 4830
Number of times doing the same change: 0


Iteration: 66
firm removed from S: 84 with dataid 5892
Number of times doing the same change: 0


Iteration: 67
firm removed from S: 165 with dataid 100108
Number of times doing the same change: 0


Iteration: 68
firm removed from S: 5 with dataid 252
firm removed from T: 143 with dataid 9341
Number of times doing the same change: 0


Iteration: 69
firm removed from S: 29 with dataid 2018
Number of times doing the same change: 0


Iteration: 70
firm removed from S: 188 with dataid 100244
Number of times doing the same change: 0


Iteration: 71
firm removed from S: 158 with dataid 100085
Number of times doing the same change: 0


Iteration: 72
firm removed from S: 172 with dataid 100177
Number of times doing the same change: 0


Iteration: 73
firm removed from S: 141 with dataid 9134
firm removed from T: 87 with dataid 6063
Number of times doing the same change: 0


Iteration: 74
firm removed from S: 148 with dataid 9935
Number of times doing the same change: 0


Iteration: 75
firm removed from S: 190 with dataid 100252
Number of times doing the same change: 0


Iteration: 76
firm removed from S: 145 with dataid 9737
firm removed from T: 55 with dataid 3849
Number of times doing the same change: 0


Iteration: 77
firm removed from S: 11 with dataid 547
firm removed from T: 36 with dataid 2638
Number of times doing the same change: 0


Iteration: 78
firm removed from S: 63 with dataid 4447
firm removed from T: 133 with dataid 8829
Number of times doing the same change: 0


Iteration: 79
firm removed from S: 90 with dataid 6266
firm removed from T: 112 with dataid 7850
Number of times doing the same change: 0


Iteration: 80
firm removed from T: 122 with dataid 8086
Number of times doing the same change: 0


Iteration: 81
firm removed from S: 156 with dataid 100069
firm removed from T: 130 with dataid 8626
Number of times doing the same change: 0


Iteration: 82
firm removed from T: 156 with dataid 100069
Number of times doing the same change: 0


Iteration: 83
firm removed from S: 156 with dataid 100069
Number of times doing the same change: 1


Iteration: 84
firm removed from T: 156 with dataid 100069
Number of times doing the same change: 2


Iteration: 85
firm removed from S: 156 with dataid 100069
Number of times doing the same change: 3


Iteration: 86
firm removed from T: 156 with dataid 100069
Number of times doing the same change: 4


Iteration: 87
firm removed from S: 156 with dataid 100069
Number of times doing the same change: 5

Total investment of PV in sharing case is 1510.7401972001326 in m2